/*body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px; /* ⬆️ Increase base text size */
  /*
  background-color: #f8fafc;
  line-height: 1.6;
}

.App {
  max-width: none;
  width: 100%;
  padding: 2rem;
}*/








.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}
